@import url("https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Crimson+Pro:wght@200;300;400;500;700;900&family=Poppins:wght@100;300;400;700;900&family=Raleway:wght@300;400;700;900&display=swap");

:root {
  --color-primary: #172c19;
  --color-primary-light: #4bbd59;
  --color-accents: #60f071;
  --color-accents-light: #cdf5d1;
}

* {
  box-sizing: border-box;
  transition: all ease-in-out 0.25s;
}
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
.logo {
  font-family: "Butterfly Kids", cursive;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--color-primary-light);
}
.container {
  width: 95%;
  max-width: 70em;
  margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
  content: "";
  display: block;
  clear: both;
}

/* column system */
[class^="col-"] {
  width: 100%;
  margin-top: 1em;
}
[class^="col-"]:first-child {
  margin-top: 0;
}
.col-1 {
  width: 33.33334%;
  float: left;
}
@media (min-width: 40rem) {
  [class^="col-"] {
    float: left;
    padding: 0 0.5em;
  }

  [class^="col-"]:first-child {
    padding-left: 0;
  }
  [class^="col-"]:first-child {
    padding-right: 0;
  }

  .col-3 {
    width: 50%;
  }
  .col-1 {
    width: 16.6667%;
  }
}

/* typography */
h1 {
  font-weight: 300;
  font-size: 1.75rem;
  margin-top: 0;
}
p {
  margin-top: 0;
  line-height: 1.5;
}
p:last-of-type {
  margin-bottom: 0;
}
.works {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-primary);

}
.title {
  font-size: 2.5rem;
  margin-bottom: 1.5em;
  font-weight: 900;
  margin-top: 1em;
}
.title span {
  font-weight: 300;
  display: block;
  font-size: 0.9em;
}
.title-cta {
  margin: 0 0 0.5em;
}
.unstyled-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 60rem) {
  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  .title {
    font-size: 3.7rem;
  }
}

/* button */
.button {
  display: inline-block;
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: 0.5em 1.75em;
}
@media (min-width: 60rem) {
  .button {
    font-size: 1.5rem;
  }
}

.button-small {
  font-size: 0.7rem;
  font-weight: 700;
}

.button-accent {
  color: var(--color-accents-light);
}

.button-accent:hover,
.button-accent:focus {
  background-color: var(--color-accents-light);
  color: var(--color-primary);
}
.button-dark {
  color: var(--color-primary);
}

.button-dark:hover,
.button-dark:focus {
  background-color: var(--color-primary);
  color: var(--color-accents);
}

/* header */
header {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 1em;
  margin-left: 1em;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin: 1em;
}
nav a {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.5em;
  color: var(--color-primary-light);
}
nav a:hover,
nav a:focus {
  color: var(--color-accents-light);
}

@media (min-width: 60rem) {
  .logo {
    float: left;
  }
  nav {
    float: right;
  }
}

/* home-hero */
.home-hero {
  background-image: url("./img/bg1.jpg");

  background-size: cover;
  background-position: center;
  padding: 10em 0;
  color: var(--color-accents);
}
@media (min-width: 60rem) {
  .home-hero {
    height: 100vh;
    padding-top: 35vh;
  }
}
/* home about */
.home-about-textbox {
  background-color: var(--color-primary);
  padding: 4em;

  width: 100vw;
  margin-left: -2.5%;
  outline: 2px solid var(--color-primary-light);
  outline-offset: -2.5em;
  color: var(--color-accents-light);
  position: relative;
}
.home-about-textbox h1 {
  color: var(--color-primary-light);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.75em;
  background: var(--color-primary);
  padding: 0 0.145em;
}
@media (min-width: 25rem) {
  h1 {
    font-size: 2rem;
  }
  .home-about-textbox h1 {
    top: 0.6em;
    padding: 0 0.325em;
  }
}
@media (min-width: 60rem) {
  h1 {
    font-size: 2.25rem;
  }
  .home-about {
    background-image: url("./img/bg2.jpg");
    background-repeat: no-repeat;
    padding-bottom: 10em;
  }
  .home-about-textbox {
    width: 50%;
    padding: 7em;
    outline-offset: -3.5em;
    margin-left: -2.5%;
    top: -5em;
    text-align: left;
    box-shadow: 0 0 4em 0 rgba(0, 0, 0, 0.3);
  }

  .home-about-textbox h1 {
    top: 0.75em;
    left: 6rem;
    transform: translateX(0);
  }
}
/* portfolio */
.portfolio {
  margin: 3em 0 0;
}

.port-item {
  margin: 0;
  position: relative;
}
.port-item img {
  display: block;
}
.port-desc {
  position: absolute;
  z-index: 100;
  bottom: 0em;
  left: 0em;
  right: 0em;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding-bottom: 2em;
}
.port-desc p {
  margin: 1em;
}
@media (min-width: 37rem) {
  .port-item {
    width: 50%;
    float: left;
  }
}
@media (min-width: 60rem) {
  .port-item {
    width: 33.33333334%;
    overflow: hidden;
  }
  .port-desc {
    transform: translateY(150%);
  }
  .port-item:hover .port-desc {
    transform: translateY(0);
  }
}
/* cta */
.cta {
  background-color: var(--color-accents);
  padding: 6em 0;
}
/* footer */
footer {
  background-color: var(--color-primary);

  color: var(--color-accents-light);
  text-align: left;
  padding: 5em 0;
}
